include ../common/mixins

.top-line-wrapper
	.container
		.row
			+top-line
.middle-line
	.container
		.row
			.col-lg-2.col-md-2.col-sm-6.col-10
				a(href="http://www.samsung.com/ru/", target="_blank", class="logo-samsung")
					img(src="https://fast.ulmart.ru/ns/verstka/samsung-bz-2017/img/logo-samsung.png", alt="")
			.col-lg-8.col-md-10.offset-lg-2
				nav.nav
					ul.nav-list
						li.nav-item
							a(href="#", target="_blank", class="nav-link") Мобильные устройства
							ul
								li
									a(href="https://www.ulmart.ru/dynamic/page/samsung_smartphone_page", target="_blank") Смартфоны
								li
									a(href="http://www.ulmart.ru/search?string=samsung&category=91468&discount=false", target="_blank") Планшеты
								li
									a(href="https://online-samsung.ru/nosimye-ustroystva/", target="_blank") Носимые устройства
								li
									a(href="http://www.ulmart.ru/Samsung_Accessories_2706?sort=5&viewType=0&rec=false", target="_blank") Аксессуары
						li.nav-item
							a(href="#", target="_blank", class="nav-link") телевизоры
							ul
								li
									a(href="https://www.ulmart.ru/dynamic/page/samsung_tv_page", target="_blank") Телевизоры
								li
									a(href="https://www.ulmart.ru/Samsung_AV?sort=5&viewType=1&rec=false", target="_blank") Аудио-Видео
						li.nav-item
							a(href="#", target="_blank", class="nav-link") бытовая техника
							ul
								li
									a(href="http://www.ulmart.ru/catalog/refrigerators?sort=0&viewType=0&rec=false&filters=active%3Ab&applied=true&brands=60&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank") Холодильники
								li
									a(href="https://online-samsung.ru/bytovaya-tehnika/stiralnye-mashiny/", target="_blank") Стиральные машины
								li
									a(href="http://www.ulmart.ru/catalog/vacuum?sort=5&viewType=0&rec=false&filters=active%3Ab&applied=true&brands=60&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank") Пылесосы
								li
									a(href="http://www.ulmart.ru/catalog/microwaves?sort=5&viewType=0&rec=false&filters=active%3Ab&applied=true&brands=60&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank") Микроволновые печи