include blocks/head-service/head
include common/mixins
include common/js

body
	.layout_center_wrapper-project
		include templates/header

		section.reviews-pages-wrapper
			.container
				.row
					.col-lg-9.offset-lg-3.col-md-12.col-sm-12.col-xs-12
						h1.reviews-pages-title
							|Смартфон без границ: открывайте для себя новые возможности вместе с Samsung Galaxy S8 | S8+
						.reviews-pages-desc
							|Смартфоны нового поколения переворачивают представление о классическом дизайне смартфона. Безграничный* изогнутый с двух сторон экран подчеркивает гармонию стиля и инноваций.
						p.reviews-pages-text
							b СЕУЛ, 29 марта 2017 года 
							|– Samsung Electronics представляет свои новые смартфоны – Samsung Galaxy S8 и Galaxy S8+, которые отличаются от традиционных мобильных устройств благодаря безупречному дизайну и поддержке множества сервисов и приложений. Усовершенствованные возможности устройств и безграничный экран, позволяющий добиться эффекта погружения, обеспечивают качественно новый уровень удобства использования и функциональности.
						img(src="https://fast.ulmart.ru/ns/verstka/samsung-bz-2017/img/textpage-galaxy.jpg", alt="galaxy", class="reviews-pages-img")
						p.reviews-pages-text
							|«Samsung Galaxy S8 | S8+ стали началом новой эры в дизайне смартфонов и создании мобильных сервисов, которые дают пользователям еще больше возможностей, – говорит Донг Джинг Ко (DJ Koh), президент подразделения мобильных коммуникаций Samsung Electronics. – Фактически, эти устройства представляют собой новую главу в истории смартфонов Samsung».
						h3.reviews-pages-subtitle
							|#безграничный экран
						p.reviews-pages-text
							|Смартфоны Galaxy S8 | S8+ продолжают традиции Samsung в области создания устройств с потрясающим дизайном и функциональностью. В новинках, представленных моделей Galaxy S8 с диагональю 5,8 дюйма и Galaxy S8+ с диагональю 6,2 дюйма, используется «безграничный» экран и полностью безрамочная конструкция, которые образуют гладкую поверхность без кнопок и острых углов. Владельцы устройств смогут насладиться эффектом полного погружения в контент, что делает работу с приложениями ещё более увлекательной. Компактный дизайн Galaxy S8 | S8+ позволяет работать с устройствами одной рукой, а защитное покрытие Corning® Gorilla® Glass 5 с обеих сторон смартфона гарантирует прочность и обеспечивает высокую устойчивость к механическим повреждениям.
						h3.reviews-pages-subtitle
							|Новый этап развития серии Samsung Galaxy
						p.reviews-pages-text
							|Помимо современного дизайна в новых устройствах Samsung реализованы самые передовые технологии, такие как:
						ol.reviews-pages-list
							li.reviews-pages-item
								b Камера: 
								|Смартфоны Galaxy S8 | S8+ оснащены 8-мегапиксельной фронтальной камерой с диафрагмой F1.7 и функцией интеллектуального автофокуса, а также 12-мегапиксельной основной камерой с диафрагмой F1.7 и технологией Dual Pixel (технология профессиональных зеркальных камер) для получения максимально качественных и чётких  изображений даже при низком уровне освещенности или приближении.
							li.reviews-pages-item
								b Производительность: 
								|В смартфонах Galaxy S8 | S8+ сочетаются высокая производительность и скоростная передача данных. Устройства построены на базе первого на рынке 10-нанометрового процессора, который обеспечивает высокую скорость работы при низком энергопотреблении. Кроме того, в смартфонах реализована поддержка гигабитных скоростей в сетях LTE и   Wi-Fi, благодаря чему пользователи смогут быстро загружать файлы любого размера.
							li.reviews-pages-item
								b Возможности для развлечений: 
								|Смартфоны Galaxy S8 | S8+ стали первыми в мире мобильными устройствами, получившими сертификацию MOBILE HDR PREMIUMTM от ассоциации UHD Alliance. Они позволяют наслаждаться естественными цветами и оттенками при просмотре любого контента. Кроме того, Galaxy S8 | S8+ предлагают качественно новый игровой опыт благодаря ярким цветам, превосходной графике и поддержке Game Pack, где представлены самые лучшие игры, в том числе игры с поддержкой Vulkan API.
							li.reviews-pages-item
								b Безопасность данных: 
								|Смартфоны Galaxy S8 | S8+ созданы на базе платформы безопасности Samsung Knox, которая применяется в оборонной сфере. Вместе с тем, смартфоны Galaxy S8 | S8+ поддерживают различные биометрические технологии, в том числе сканер отпечатка пальца, сканер радужной оболочки глаза и систему распознавания лиц. Таким образом, пользователи могут выбрать оптимальный для себя способ биометрической аутентификации.
						p.reviews-pages-text
							|В Galaxy S8 | S8+ реализованы характерные для серии Samsung Galaxy функции, столь полюбившиеся пользователям, в том числе:
						ol.reviews-pages-list
							li.reviews-pages-subitem
								|Безграничный экран;
							li.reviews-pages-subitem
								|Защита от воды и пыли (IP68);
							li.reviews-pages-subitem
								|Сканер радужной оболочки глаза;
							li.reviews-pages-subitem
								|Поддержка карт MicroSD (до 256 ГБ);
							li.reviews-pages-subitem
								|Многозадачность;
							li.reviews-pages-subitem
								|Возможность быстрой беспроводной подзарядки;
						h3.reviews-pages-subtitle
							|Новый способ взаимодействия со смартфоном
						p.reviews-pages-text
							|Смартфоны оснащены новым интеллектуальным помощником Bixby, который поможет пользователям делать больше с помощью смартфона. Кнопка Bixby обеспечивает удобный доступ к новым функциям и позволяет работать с доступными сервисами и приложениями с помощью сенсорного экрана, голосовых или текстовых команд. В Bixby реализована поддержка голосового управления для ряда стандартных приложений Samsung, включая управление камерой, работу с контактами, галереей, сообщениями и настройками. Уже в ближайшем будущем список будет расширен новыми приложениями от Samsung и сторонних разработчиков. Благодаря возможности понимать контекст, Bixby сможет предлагать пользователям персонализированную помощь в зависимости от того, какую именно информацию об их интересах и местоположении получит система. 
						p.reviews-pages-text
							|Кроме того, Bixby позволяет совершать покупки, искать изображения и получать подробную информацию о ближайших местах с помощью технологии распознавания изображений. По мере роста экосистемы Bixby, этот интерфейс объединит все устройства, приложения и сервисы и сделает повседневную жизнь пользователей гораздо проще.
						p.reviews-pages-text
							|О функционале и доступности сервисов Bixby в России вы сможете узнать из дальнейших анонсов.
						h3.reviews-pages-subtitle
							|Экосистема устройств Samsung
						p.reviews-pages-text
							|Вместе со смартфонами Galaxy S8 | S8+ пользователи получат доступ к различным продуктам и сервисам, которые позволяют в полной мере воспользоваться мобильным потенциалом и сетевыми возможностями новых смартфонов.
						p.reviews-pages-text
							|Смартфоны Galaxy S8 | S8+ поддерживают работу с Gear VR – новыми очками виртуальной реальности с джойстиком на базе технологий Oculus. Благодаря удобной навигации и поддержке управления одной рукой, джойстик обеспечивает более качественную обработку движений при работе с интерактивным VR-контентом. Кроме того,  Galaxy S8 | S8+ могут подключаться к новой компактной камере Gear 360 для создания панорамных видеороликов в формате 4K,15-мегапиксельных фотографий и осуществления видео-трансляций в режиме реального времени.
						p.reviews-pages-text
							|Док-станция Samsung DeX использует вычислительную мощность Galaxy S8 | S8+ для увеличения продуктивности пользователей и позволяет превратить смартфоны в полноценный настольный компьютер. Благодаря Samsung DeX пользователи смогут с лёгкостью редактировать данные со своего смартфона и выводить их на большой экран, что сделает работу с устройством ещё более быстрой и удобной.
						h3.reviews-pages-subtitle
							|Samsung Health
						p.reviews-pages-text
							|В смартфонах Galaxy S8 | S8+ улучшена поддержка сервиса Samsung Health. Это позволит расширить сферу применения одного из популярнейших сервисов Samsung: на данный момент в мире насчитывается 60 миллионов его активных пользователей ежемесячно и 11 миллионов активных пользователей ежедневно. Сервис Samsung Health включает в себя доступ к услугам телемедицины (доступно только в США), составляет индивидуальный план тренировок и поддерживает интеграцию в социальные сети, что в корне меняет традиционные представления о приложениях для здорового образа жизни и фитнеса.
						p.reviews-pages-text
							|Теперь у пользователей нет необходимости носить с собой бумажник – платежный сервис Samsung Pay превращает смартфоны Galaxy S8 | S8+ в цифровой кошелек, который можно использовать практически везде, где принимаются кредитные или дебетовые карты. Samsung Pay поддерживается более 870 банками по всему миру. На сегодняшний день с его помощью было обработано уже более 240 миллионов транзакций.
						p.reviews-pages-text
							|В комплекте со смартфоном будут поставляться новые высокопроизводительные наушники, доведённые до совершенства специалистами AKG и обеспечивающие неповторимое качество звука. Эти наушники отличаются удобной гибридной посадкой для лучшего шумоподавления и оснащены шнуром с металлизированной оплёткой, предотвращающей спутывание провода.
						p.reviews-pages-text
							|Смартфоны Galaxy S8 | S8+ поступят в продажу в России во второй половине апреля и будут представлены в разнообразной цветовой гамме, в том числе в расцветках: Черный бриллиант, Мистический аметист, Желтый топаз.
						.reviews-pages-btn
							.row
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="#", class="reviews-pages__back") Назад
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="http://www.ulmart.ru/search?string=galaxy+s8&rootCategory=93287&sort=6&category=80252", class="reviews-pages__buy") Купить Samsung Galaxy S8

	include blocks/footer-service/footer-service