include blocks/head-service/head
include common/mixins
include common/js

body
	.layout_center_wrapper-project
		include templates/header

		section.reviews-pages-wrapper
			.container
				.row
					.col-lg-9.offset-lg-3.col-md-12.col-sm-12.col-xs-12
						h1.reviews-pages-title
							|Samsung объявляет о глобальном запуске линейки QLED ТВ и The Frame
						.reviews-pages-desc
							|QLED ТВ и The Frame открывают новую страницу истории домашних развлечений.
						img(src="https://fast.ulmart.ru/ns/verstka/samsung-bz-2017/img/textpage-qled1.png", alt="qled", class="reviews-pages-img")
						p.reviews-pages-text
							b Париж, 14 марта, 2017 г., – 
							|Сегодня Samsung Electronics провела презентацию QLED ТВ и The Frame в рамках мероприятия в Париже, посвященного их глобальному запуску. Благодаря продемонстрированным передовым технологиям компания в очередной раз упрочила свою лидирующую позицию в сфере домашних развлечений.
						p.reviews-pages-text
							|«Компания Samsung использует самые инновационные технологии, чтобы пользователи получали непревзойденные впечатления от просмотра и наслаждались самым современным дизайном, , – сказал ХС Ким (HS Kim), президент Visual Display в Samsung Electronics. – Качество изображения, дизайн и «умные» технологии, реализованные в линейке телевизоров 2017 года, знаменует начало новой эры ТВ».
						p.reviews-pages-text
							|Samsung выбрала Париж – «Город Огней», чтобы представить там телевизор, который максимально эффективно преобразует свет в естественные цвета. Новая линейка QLED телевизоров обеспечивает оптимальный уровень яркости и ошеломляющий визуальный эффект от просмотра изображения.
						p.reviews-pages-text
							|Место проведения события – Carrousel du Louvre, находится рядом с Лувром, известным своей богатой историей и культурой, и очень подходит для демонстрации концепции Lifestyle TV. Главным образом эта концепция была воплощена в двух устройствах, которые по праву можно называть произведениями искусства – телевизор на квантовых точках – Samsung QLED TV и The Frame.
						p.reviews-pages-text
							|Новые телевизоры линейки QLED были разработаны с еще большим внимание к потребностям пользователя. При разработке специалисты обращали внимание на три ключевых решения, которые получили названия Q Изображение, Q Smart и Q Стиль. Чтобы создать инновационные устройства линейки The Frame и предложить пользователям по-настоящему изысканный продукт, который легко впишется в интерьер любого дома, Samsung работала с известным швейцарским дизайнером Ивом Бехаром (Yves Behar).
						img(src="https://fast.ulmart.ru/ns/verstka/samsung-bz-2017/img/textpage-qled2.png", alt="qled", class="reviews-pages-img")
						h3.reviews-pages-subtitle
							|Q Изображение: прекрасное сочетание света и цвета
						p.reviews-pages-text
							|В QLED телевизорах была использована технология квантовых точек, что позволило изображению достичь более высокого уровня яркости, стабильности и богатства цветовой гаммы. Благодаря новой структуре квантовых точек в QLED телевизорах улучшены все определяющие аспекты качества изображения: угол обзора, цветовой охват, яркость и контраст. QLED телевизор может передавать максимально естественные цвета и достигает 100% цветового охвата – самого высокого, представленного на рынке сегодня. Этот показатель подтвержден одной из крупнейших научно-технических ассоциаций Европы – Verband Deutscher Elektrotechniker (VDE).
						p.reviews-pages-text
							|Кроме того, глубокий уровень черного цвета в QLED телевизоров и четкий контраст обеспечивают неизменно высокое качество изображения независимо от внешнего освещения комнаты. Расширенный динамический диапазон HDR 1500 с яркостью 1500 нит позволяет пользователям видеть мельчайшие детали изображения без потери или искажения цвета.
						h3.reviews-pages-subtitle
							|Q Smart: Новый уровень домашних развлечений
						p.reviews-pages-text
							|Samsung Smart Hub теперь предлагает еще более интуитивно понятное и удобное управление QLED телевизором. Обновленный пульт управления One Remote Control поддерживает еще больше устройств и предлагает функцию голосового управления. Приложение-компаньон Smart View доступно на Android и мобильных устройствах iOS. Пользователи смогут настроить персонализированное управление в Smart Hub. Кроме того, Smart Hub предлагает самый легкий и быстрый способ найти, купить и посмотреть последние 4K фильмы и другой контент.
						h3.reviews-pages-subtitle
							|Q Стиль: Разработан специально для вас
						p.reviews-pages-text
							|В этом году Samsung представила новые элементы дизайна телевизоров, которые впишутся в любой дом, независимо от стиля интерьера и особенностей планировки. Благодаря новому прозрачному оптическому кабелю решена проблема традиционно спутанных телевизионных проводов. Теперь пользователи смогут создать свой уникальный интерьер, используя единый оптический кабель, который подключается к модулю One Connect, куда также подключаются все внешние устройства.
						p.reviews-pages-text
							|Samsung также представил новое настенное крепление без зазора со стеной, при этом процесс установки занимает около 15 минут. Для тех, кто не хочет крепить свой телевизор на стену, есть также серия стильных подставок. Разработанный в форме мольберта, Studio Stand – подставка – тренога и идеальное дополнение любого современного интерьера, а Gravity Stand – конусная поворотная подставка, с помощью которой телевизор может вращаться, позволяя выбрать оптимальный угол просмотра.
						h3.reviews-pages-subtitle
							|The Frame: Новый взгляд на ТВ
						p.reviews-pages-text
							|Продолжая фокусировать внимание на премиальном дизайне, компания Samsung объявила о последней инновации – The Frame. На выставке CES 2017 интерьерную панель The Frame представили как уникальное устройство и не имеющий аналогов предмет искусства, который преобразит любой интерьер или творческое пространство.
						p.reviews-pages-text
							|The Frame в режиме «Галерея» напоминает картину в раме. В отличие от стандартного телевизора, который представляет собой темный экран после выключения, The Frame становится произведением искусства, позволяя пользователям выбрать изготовленные на заказ художественные шедевры цифрового искусства. Разработано более 100 изображений в различных жанрах – включая пейзажи, архитектуру, дикую природу, рисунки и многое другое, что подойдет к любому интерьеру. The Frame имеет большой выбор художественных заставок и представляет многообразие цветовой гаммы. Пользователю будут также доступны дополнительные опции, такие как выбор различных рамок панели, или дополнительная подставка-тренога, которая позволит создать свой уникальный интерьер.
						p.reviews-pages-text
							|Кроме того, The Frame оснащен новым прозрачным оптическим кабелем и системой настенного крепления вплотную к стене, позволяющими пользователям повесить панель, где они пожелают. Благодаря этим инновационным решениям, The Frame гармонично впишется в любой современный интерьер.
						.reviews-pages-btn
							.row
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="#", class="reviews-pages__back") Назад
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="https://www.ulmart.ru/catalog/tvs_6020_394246?sort=0&viewType=1&rec=true&filters=&applied=true&brands=&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", class="reviews-pages__buy") Купить QLED ТВ

	include blocks/footer-service/footer-service