include blocks/head-service/head
include common/mixins
include common/js

body
	.layout_center_wrapper-project
		include templates/header

		section.reviews-pages-wrapper
			.container
				.row
					.col-lg-9.offset-lg-3.col-md-12.col-sm-12.col-xs-12
						h1.reviews-pages-title
							|Новый пылесос Samsung с турбиной Anti-Tangle обеспечивает уборку без снижения мощности всасывания
						p.reviews-pages-text
							b Москва, 18 октября 2016 г. — 
							|Компания Samsung Electronics представила новый, мощный и легкий в обслуживании, пылесос VC5100. Новинка позволяет решить проблему засорения фильтра и щетки, а также избежать спутывания попавших в них шерсти или волос и сохранить мощность устройства до полного заполнения контейнера. Благодаря этому уборка не только станет гораздо эффективнее и приятнее, но и потребует значительно меньше усилий.
						p.reviews-pages-text
							|Новый Samsung VC5100 оснащен системой CycloneForce с турбиной Anti-Tangle. Она обеспечивает высочайший уровень очитки фильтра и надежно защищает его от засорения мусором и пылью. Это обеспечивает 100% мощности пылесоса вплоть до момента, когда его контейнер будет полностью заполнен. За счет этого пылесос будет работать в полную силу даже во время длительной или сложной уборки и поможет поддерживать в доме идеальную чистоту.
						p.reviews-pages-text
							|Специальная щетка Anti-Tangle Tool VC5100 также служит защите устройства от засорения. Благодаря новой структуре воздушного потока любая грязь в ней, включая волосы и шерсть животных, отправляется непосредственно в пылесборник. Таким образом, собирая мусор с пола и мебели, щетка не забивается, а очистить ее можно за рекордные 30 с небольщим секунд. С щеткой Anti-Tangle Tool удалять застрявший мусор вручную не потребуется, поэтому процесс уборки станет гораздо удобнее и приятнее.
						p.reviews-pages-text
							|Пылесос Samsung VC5100 доступен в трех спецификациях и трех цветах – синем, пурпурном и черном – по рекомендованным ценам 12990, 13990 и 14990 рублей
						.reviews-pages-btn
							.row
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="#", class="reviews-pages__back") Назад
								//- .col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="#", class="reviews-pages__buy") Купить Пылесос VC5100

	include blocks/footer-service/footer-service