include blocks/head-service/head
include common/mixins
include common/js

body
	.layout_center_wrapper-project
		include templates/header

		.container
				.row
					.col-lg-9.offset-lg-3.col-md-12.col-sm-12.col-xs-12
						h1.reviews-pages-title
							|Инновации в области стирки и уборки от Samsung
						img(src="https://fast.ulmart.ru/ns/verstka/samsung-bz-2017/img/textpage-washer.jpg", alt="qled", class="reviews-pages-img")
						p.reviews-pages-text
							b Лиссабон, 16 февраля 2016 г. — 
							|Компания Samsung Electronics, мировой лидер в сфере инновационной бытовой техники, анонсировала две замечательные новинки в линейке стиральных машин, каждая из которых получила продуманные и интуитивно понятные изменения, которые станут большим преимуществом для пользователей. Простые, но по-настоящему практичные инновации моделей 2016 года полностью изменят подход и отношение к стирке у обычных пользователей. Наряду с другими новинками из мира бытовой техники, Samsung впервые демонстрирует их на международной выставке потребительской электроники CIS 2016, которая проходит в Лиссабоне.
						p.reviews-pages-text
							|«Стремясь соединить в одном продукте стильный дизайн и инновационные технологии, Samsung создаёт эстетичную бытовую технику, которая значительно облегчает жизнь своим пользователям. — прокомментировал Алексей Мамушкин, директор департамента по продажам бытовой техники Samsung Electronics в России — Новые стиральные машины Samsung являются наглядным примером сочетания стиля и производительности».
						h3.reviews-pages-subtitle
							|Заставьте стиральную машину работать по вашему расписанию
						p.reviews-pages-text
							|Загружая машину в спешке, можно легко пропустить что-то важное. Чтобы не останавливать стирку из-за единственного носка, Samsung предлагает простое, но крайне эффективное решение и представляет первую на рынке систему AddWash для машин с фронтальной загрузкой.
						p.reviews-pages-text
							|Стиральные машины с фронтальной загрузкой, оснащенные AddWash, имеют специальную дверцу AddDoor, позволяющую легко догружать машину прямо во время стирки, без необходимости сливать воду и открывать основную дверь. Теперь положить в машину забытую вещь или добавить стиральный порошок на любом этапе стирки не вызовет проблем.
						p.reviews-pages-text
							|Благодаря самому большому в мире рабочему объему в 141 литр при стандартном размере 69 см и технологии EcoBubble стиральные машины Samsung с фронтальной загрузкой гарантируют самую высокую производительность среди аналогичных моделей на рынке.
						p.reviews-pages-text
							|С новыми стиральными машинами Samsung вы получите необходимую чистоту вещей при минимальных затратах времени. Благодаря усовершенствованным функциям: от бережной стирки для деликатных тканей до продвинутых технологий, заставляющих стиральные порошки работать более эффективно, и скоростного режима, позволяющего отстирать полную загрузку всего за 30 минут, фронтальные стиральные машины Samsung AddWash с технологией EcoBubble способны справиться с самыми сложными бытовыми задачами вашей семьи.
						p.reviews-pages-text
							|Фронтальные стиральные машины Samsung с функцией AddWash (модель WW12K8412OX/LP) будут представлены в новом современном дизайне цвета графит или в белом с дверцей Blue Crystal и графическим дисплеем. Продажи начнутся весной 2016 года.
						h3.reviews-pages-subtitle
							|Подключайтесь к инновациям
						p.reviews-pages-text
							|В дополнение к популярным роботам-пылесосам POWERbot VR9000 и POWERbot Essential, на CIS 2016 Samsung представляет две новые модели: POWERbot Turbo и POWERbot Essential Wi-Fi.
						p.reviews-pages-text
							|Благодаря увеличенной в 70 раз силе всасывания, по сравнению с роботами-пылесосами лидирующей марки1, POWERbot Turbo от Samsung станет эффективным партнером по домашней уборке. А с помощью системы управления Smart Control с подключением по Wi-Fi, пользователи могут дистанционно программировать маршрут движения этого пылесоса по квартире с помощью своих смартфонов. Функция Select & Go™ позволяет создать виртуальную карту всего дома прямо в приложении, и при этом дать индивидуальное название каждой комнате. В дальнейшем это позволяет указывать те комнаты или зоны, которые нуждаются в уборке. Просто выберите комнату, и пылесос отправится туда. Благодаря новейшей цифровой системе картирования, позволяющей устройству буквально «видеть» вашу квартиру, новый робот-пылесос от Samsung способен навести идеальную чистоту без помощи хозяина.
						p.reviews-pages-text
							|Робот-пылесос POWERbot Essential Wi-Fi обладает увеличенной силой всасывания по сравнению с моделями лидирующего бренда 2 и также оснащен Wi-Fi функцией, позволяющей легко программировать расписание работы или дистанционно включать и выключать пылесос.
						p.reviews-pages-text
							|Обе модели оснащены системой построения карты помещений Visionary Mapping™ Plus System, имеют встроенную цифровую камеру и высокочувствительные сенсоры, считывающие окружающую обстановку и вычисляющие оптимальный маршрут уборки. После окончания работы пылесосы записывают пройденный маршрут в формате цифрового плана Digital Floorplan® как наиболее эффективный маршрут для систематической уборки, что позволяет им с легкостью огибать типичные препятствия. Система Cyclone Force, применяемая в роботах-пылесосах Samsung, использует мощные центробежные силы для отделения грязи и мусора и сепарации их во внешнем контейнере, что позволяет снизить засорение фильтра и обеспечивает оптимальную мощность всасывания на протяжении всей уборки.
						p.reviews-pages-text
							|Рекомендованная цена 79 990 руб.
						h3.reviews-pages-subtitle
							|Новые технологии по запросу потребителей
						p.reviews-pages-text
							|Samsung всегда думает о своих потребителях и прислушивается к их потребностям. По итогам проведенного среди покупателей исследования было выявлено, что для 75% из них важна высокая мощность всасывания, а так же сохранение ее на высоком уровне во время уборки. Для решения этой проблемы компания предлагает революционное решение – технологию TangleFree Cyclone. Это высокоскоростная турбина внутри контейнера, которая, вращаясь со сокростью 15000 об./мин., отталкивает частицы пыли и грязи, поддерживая свободным воздушный поток, благодаря чему пылесос не теряет мощность всасывания по мере заполнения контейнера.
						p.reviews-pages-text
							|Данная технология будет доступна в сериях VC5100, VC4100 и VС3100.
						.reviews-pages-btn
							.row
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="#", class="reviews-pages__back") Назад
								//- .col-lg-4.col-md-6.col-sm-6.col-xs-12
									a(href="#", class="reviews-pages__buy") Купить Стиральные машины

	include blocks/footer-service/footer-service